<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>주님 실망쓰~~~~~~~~</title>
  </head>
  <body>
    <h1>여기는 월드 페이지긩</h1>
    <ul style="list-style-type: none;">
    {% for item in post %}
      <li>제목 : {{ item.tile }}</li>
      <hr> <!-- 수평선 -->
      <li>내용 : {{ item.content }}</li>
      <li>작성자 : {{ item.user }}</li>
      <br><br>
    {% endfor %}
  </body>
</html>
